/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container_Products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.productosContainer{
    display: FLEX;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 500px; /* Ancho deseado para los productos */
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para el texto del producto */
.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #555;
}

/* Estilos para el botón "Agregar al carrito" */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos para el encabezado "Productos Destacados" */
h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 20px;
}

.busqueda_container {
    margin-right: auto;
}

/* Estilos para el formulario de búsqueda */
.form-control {
    width: 300px;
}

/* Estilos para el enlace del perfil en la barra de navegación */
.nav-link {
    color: #333;
    font-weight: bold;
}

/* Estilos para los elementos del menú desplegable */
.dropdown-menu {
    background-color: #fff;
}

.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
